In [1]:
# increase cell width
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd

In [3]:
!head -3 ../sample/hein-daily/descr_097.txt

speech_id|chamber|date|number_within_file|speaker|first_name|last_name|state|gender|line_start|line_end|file|char_count|word_count
970000001|S|19810105|00001|The VICE PRESIDENT|Unknown|Unknown|Unknown|Special|000017|000062|01051981.txt|1543|283
970000002|S|19810105|00002|The VICE PRESIDENT|Unknown|Unknown|Unknown|Special|000065|000074|01051981.txt|334|55

In [7]:
!head -3 ../sample/hein-daily/097_SpeakerMap.txt

speakerid|speech_id|lastname|firstname|chamber|state|gender|party|district|nonvoting
97105301|970000005|PERCY|CHARLES|S|IL|M|R||voting
97105071|970000006|HUDDLESTON|WALTER|S|KY|M|D||voting

In [91]:
descr97 = pd.read_csv("../sample/hein-daily/descr_097.txt", sep="|")
descr97.shape

(283398, 14)

In [92]:
descr97.head()

,speech_id,chamber,date,number_within_file,speaker,first_name,last_name,state,gender,line_start,line_end,file,char_count,word_count
0,970000001,S,19810105,1,The VICE PRESIDENT,Unknown,Unknown,Unknown,Special,17,62,01051981.txt,1543,283
1,970000002,S,19810105,2,The VICE PRESIDENT,Unknown,Unknown,Unknown,Special,65,74,01051981.txt,334,55
2,970000003,S,19810105,3,The VICE,Unknown,Unknown,Unknown,Special,200,212,01051981.txt,466,82
3,970000004,S,19810105,4,The VICE PRESIDENT,Unknown,Unknown,Unknown,Special,858,864,01051981.txt,210,37
4,970000005,S,19810105,5,Mr. PERCY,Unknown,PERCY,Unknown,M,883,889,01051981.txt,201,34

In [93]:
descr97.gender.value_counts()

M          219724
Special     58178
F            4931
Unknown       565
Name: gender, dtype: int64

In [94]:
speakermap97 = pd.read_csv("../sample/hein-daily/097_SpeakerMap.txt", sep="|")
speakermap97.shape

(202054, 10)

In [95]:
speakermap97.head()

,speakerid,speech_id,lastname,firstname,chamber,state,gender,party,district,nonvoting
0,97105301,970000005,PERCY,CHARLES,S,IL,M,R,NaN,voting
1,97105071,970000006,HUDDLESTON,WALTER,S,KY,M,D,NaN,voting
2,97106761,970000007,JACKSON,HENRY,S,WA,M,D,NaN,voting
3,97106981,970000008,STAFFORD,ROBERT,S,VT,M,R,NaN,voting
4,97104811,970000010,BAKER,HOWARD,S,TN,M,R,NaN,voting

In [96]:
full_map = pd.read_csv('./full_speakermap_demo.txt', sep='|')
full_map.shape

(9845, 17)

In [97]:
full_map.head()

,speakerid,Congress,Full Name,Chamber,State,Gender,Party,SpeachCount,List of Congresses,Ethnicity,BirthYear,CongressYear,Age,Age_lt_med,NonWhite,Female,Age_med
0,97105301,97,"PERCY, CHARLES",S,IL,M,R,2050,97 98,W,1919,1982,63,0,0,0,51.0
1,97105071,97,"HUDDLESTON, WALTER",S,KY,M,D,563,97 98,W,1926,1982,56,0,0,0,51.0
2,97106761,97,"JACKSON, HENRY",S,WA,M,D,560,97 98,W,1912,1982,70,0,0,0,51.0
3,97106981,97,"STAFFORD, ROBERT",S,VT,M,R,497,97 98 99 100,W,1913,1982,69,0,0,0,51.0
4,97104811,97,"BAKER, HOWARD",S,TN,M,R,15456,97 98,W,1925,1982,57,0,0,0,51.0

In [22]:
# full_map.drop(columns=['Gender', 'Party'], inplace=True)

In [98]:
speakermap97 = speakermap97.merge(full_map, how='left', on='speakerid')
speakermap97.shape

(202054, 26)

In [99]:
speakermap97.head()

,speakerid,speech_id,lastname,firstname,chamber,state,gender,party,district,nonvoting,...,SpeachCount,List of Congresses,Ethnicity,BirthYear,CongressYear,Age,Age_lt_med,NonWhite,Female,Age_med
0,97105301,970000005,PERCY,CHARLES,S,IL,M,R,NaN,voting,...,2050,97 98,W,1919,1982,63,0,0,0,51.0
1,97105071,970000006,HUDDLESTON,WALTER,S,KY,M,D,NaN,voting,...,563,97 98,W,1926,1982,56,0,0,0,51.0
2,97106761,970000007,JACKSON,HENRY,S,WA,M,D,NaN,voting,...,560,97 98,W,1912,1982,70,0,0,0,51.0
3,97106981,970000008,STAFFORD,ROBERT,S,VT,M,R,NaN,voting,...,497,97 98 99 100,W,1913,1982,69,0,0,0,51.0
4,97104811,970000010,BAKER,HOWARD,S,TN,M,R,NaN,voting,...,15456,97 98,W,1925,1982,57,0,0,0,51.0

In [61]:
speakermap97.Ethnicity.isna().sum()

0

In [100]:
list(speakermap97)

['speakerid',
 'speech_id',
 'lastname',
 'firstname',
 'chamber',
 'state',
 'gender',
 'party',
 'district',
 'nonvoting',
 'Congress',
 'Full Name',
 'Chamber',
 'State',
 'Gender',
 'Party',
 'SpeachCount',
 'List of Congresses',
 'Ethnicity',
 'BirthYear',
 'CongressYear',
 'Age',
 'Age_lt_med',
 'NonWhite',
 'Female',
 'Age_med']

In [101]:
keep_cols_descr = ['speech_id', 'date', 'char_count', 'word_count', 'speaker']
keep_cols_map = ['speakerid', 'speech_id', 'Party', 'Gender', 'Congress', 'Chamber', 'State', 'Ethnicity', 'Age', 'Age_lt_med', 'NonWhite', 'Female', 'Full Name']

In [102]:
descr97_exp = descr97[keep_cols_descr].merge(speakermap97[keep_cols_map], how='left', on='speech_id')
descr97_exp.shape

(283398, 17)

In [103]:
descr97_exp.head()

,speech_id,date,char_count,word_count,speaker,speakerid,Party,Gender,Congress,Chamber,State,Ethnicity,Age,Age_lt_med,NonWhite,Female,Full Name
0,970000001,19810105,1543,283,The VICE PRESIDENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,970000002,19810105,334,55,The VICE PRESIDENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,970000003,19810105,466,82,The VICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,970000004,19810105,210,37,The VICE PRESIDENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,970000005,19810105,201,34,Mr. PERCY,97105301.0,R,M,97.0,S,IL,W,63.0,0.0,0.0,0.0,"PERCY, CHARLES"

In [104]:
descr97_exp[descr97_exp.speakerid.isna()].word_count.describe()

count    81344.000000
mean       118.178268
std        409.005476
min          1.000000
25%          6.000000
50%         13.000000
75%         60.000000
max      58064.000000
Name: word_count, dtype: float64

In [105]:
descr97_exp[~descr97_exp.speakerid.isna()].word_count.describe()

count    202054.000000
mean        157.109654
std         340.234849
min           1.000000
25%          11.000000
50%          29.000000
75%         153.000000
max       11750.000000
Name: word_count, dtype: float64

In [106]:
descr97_exp = descr97_exp[~descr97_exp.speakerid.isna()]
descr97_exp.shape

(202054, 17)

In [107]:
descr97_exp.head()

,speech_id,date,char_count,word_count,speaker,speakerid,Party,Gender,Congress,Chamber,State,Ethnicity,Age,Age_lt_med,NonWhite,Female,Full Name
4,970000005,19810105,201,34,Mr. PERCY,97105301.0,R,M,97.0,S,IL,W,63.0,0.0,0.0,0.0,"PERCY, CHARLES"
5,970000006,19810105,202,34,Mr. HUDDLESTON,97105071.0,D,M,97.0,S,KY,W,56.0,0.0,0.0,0.0,"HUDDLESTON, WALTER"
6,970000007,19810105,201,34,Mr. JAcKSON,97106761.0,D,M,97.0,S,WA,W,70.0,0.0,0.0,0.0,"JACKSON, HENRY"
7,970000008,19810105,201,34,Mr. STAFFORD,97106981.0,R,M,97.0,S,VT,W,69.0,0.0,0.0,0.0,"STAFFORD, ROBERT"
9,970000010,19810105,49,9,Mr. BAKER,97104811.0,R,M,97.0,S,TN,W,57.0,0.0,0.0,0.0,"BAKER, HOWARD"

## Aggregating all files

In [110]:
keep_cols_descr = ['speech_id', 'date', 'char_count', 'word_count', 'speaker']
keep_cols_descr_excl = ['speech_id', 'date', 'char_count', 'word_count', 'speaker', 'state', 'gender', 'first_name', 'last_name']
keep_cols_map = ['speakerid', 'speech_id', 'Party', 'Congress', 'Chamber', 'State', 'Ethnicity', 'Age', 'Age_lt_med', 'NonWhite', 'Female', 'Full Name']

In [35]:
congresses = []
for c in range(97,115):
    c = str(c)
    if len(c)==2:
        c = '0'+c
    congresses.append(c)
congresses

['097',
 '098',
 '099',
 '100',
 '101',
 '102',
 '103',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '110',
 '111',
 '112',
 '113',
 '114']

In [41]:
ls ../raw

audit/          hein-daily/       speakermap_stats/
hein-bound.zip  phrase_clusters/  vocabulary/

In [111]:
dirpath = '../raw/hein-daily/'
full_descr = pd.DataFrame()
full_descr_excl = pd.DataFrame()
row_cnt = 0
for c in congresses:
    mapfile = dirpath+c+'_SpeakerMap.txt'
    descrfile = dirpath+'descr_'+c+'.txt'
    speakermap = pd.read_csv(mapfile, sep="|")
    speakermap = speakermap.merge(full_map, how='left', on='speakerid')
    descr = pd.read_csv(descrfile, sep="|")
    descr_exp = descr[keep_cols_descr].merge(speakermap[keep_cols_map], how='inner', on='speech_id')
    descr_excl = descr[keep_cols_descr_excl].merge(speakermap[['speech_id','speakerid']], how='left', on='speech_id')
    descr_excl = descr_excl[descr_excl.speakerid.isna()]
    row_cnt += descr_exp.shape[0]
    print("File: {} raw: {} rows. Processed: {} rows".format(c, descr.shape[0], descr_exp.shape[0]))
    full_descr = full_descr.append(descr_exp, ignore_index=True)
    full_descr_excl = full_descr_excl.append(descr_excl, ignore_index=True)

File: 097 raw: 283398 rows. Processed: 202054 rows
File: 098 raw: 280288 rows. Processed: 201199 rows
File: 099 raw: 281527 rows. Processed: 201888 rows
File: 100 raw: 276161 rows. Processed: 192047 rows
File: 101 raw: 251216 rows. Processed: 166895 rows
File: 102 raw: 243091 rows. Processed: 162471 rows
File: 103 raw: 235973 rows. Processed: 159939 rows
File: 104 raw: 274984 rows. Processed: 193358 rows
File: 105 raw: 209266 rows. Processed: 141235 rows
File: 106 raw: 209647 rows. Processed: 141357 rows
File: 107 raw: 180725 rows. Processed: 116866 rows
File: 108 raw: 200158 rows. Processed: 127981 rows
File: 109 raw: 187646 rows. Processed: 117131 rows
File: 110 raw: 211366 rows. Processed: 130093 rows
File: 111 raw: 154399 rows. Processed: 94641 rows
File: 112 raw: 145900 rows. Processed: 91060 rows
File: 113 raw: 128148 rows. Processed: 77621 rows
File: 114 raw: 112290 rows. Processed: 67971 rows

In [112]:
full_descr.shape

(2585807, 16)

In [113]:
row_cnt

2585807

In [117]:
keep_cols = ['speech_id',
 'date',
 'char_count',
 'word_count',
 'speakerid',
 'Party',
 'Congress',
 'Chamber',
 'State',
 'Ethnicity',
 'Age',
 'Age_lt_med',
 'NonWhite',
 'Female',
 'speaker',
 'Full Name']

In [118]:
full_descr = full_descr[keep_cols]

In [119]:
full_descr.head()

,speech_id,date,char_count,word_count,speakerid,Party,Congress,Chamber,State,Ethnicity,Age,Age_lt_med,NonWhite,Female,speaker,Full Name
0,970000005,19810105,201,34,97105301,R,97,S,IL,W,63,0,0,0,Mr. PERCY,"PERCY, CHARLES"
1,970000006,19810105,202,34,97105071,D,97,S,KY,W,56,0,0,0,Mr. HUDDLESTON,"HUDDLESTON, WALTER"
2,970000007,19810105,201,34,97106761,D,97,S,WA,W,70,0,0,0,Mr. JAcKSON,"JACKSON, HENRY"
3,970000008,19810105,201,34,97106981,R,97,S,VT,W,69,0,0,0,Mr. STAFFORD,"STAFFORD, ROBERT"
4,970000010,19810105,49,9,97104811,R,97,S,TN,W,57,0,0,0,Mr. BAKER,"BAKER, HOWARD"

In [70]:
# full_descr.to_csv('./full_descr.txt', sep='|', index=False)

## Fuzzy matching on last name, gender and congress number

In [120]:
full_descr_excl.shape

(1280376, 10)

In [121]:
full_descr_excl.head()

,speech_id,date,char_count,word_count,speaker,state,gender,first_name,last_name,speakerid
0,970000001,19810105,1543,283,The VICE PRESIDENT,Unknown,Special,Unknown,Unknown,NaN
1,970000002,19810105,334,55,The VICE PRESIDENT,Unknown,Special,Unknown,Unknown,NaN
2,970000003,19810105,466,82,The VICE,Unknown,Special,Unknown,Unknown,NaN
3,970000004,19810105,210,37,The VICE PRESIDENT,Unknown,Special,Unknown,Unknown,NaN
4,970000009,19810105,48,7,The VICE PRESIDENT,Unknown,Special,Unknown,Unknown,NaN

In [77]:
full_descr_excl.speaker.value_counts()[:10]

The PRESIDING OFFICER               523126
The SPEAKER pro tempore             239981
The CHAIRMAN                         70758
The ACTING PRESIDENT pro tempore     29034
The SPEAKER                          25030
The CHAIRMAN pro tempore             17759
The PRESIDENT pro tempore            13883
The Acting CHAIRMAN                   9167
The ACTING PRESIDENT                  8620
The CHAIR                             7309
Name: speaker, dtype: int64

In [78]:
full_descr_excl.gender.value_counts()[:10]

Special    984603
M          253667
F           35193
Unknown      6913
Name: gender, dtype: int64

In [79]:
full_descr_excl.last_name.value_counts()[:10]

Unknown     984603
SMITH         4000
MILLER        2773
JOHNSON       2250
KUCINICH      2235
STARK         2168
TOWNS         2033
GRAVES        1963
YOUNG         1952
DAVIS         1913
Name: last_name, dtype: int64

In [147]:
full_descr_excl[full_descr_excl.gender=='F'].last_name.value_counts()[:10]

MALONEY         1425
LEE             1219
ROS-LEHTINEN    1100
JOHNSON         1089
NORTON           824
DELAURO          785
KAPTUR           783
ESHOO            754
MCCOLLUM         707
MORELLA          667
Name: last_name, dtype: int64

In [143]:
full_descr_excl[full_descr_excl.gender=='F'].word_count.describe()

count    35193.000000
mean       367.602478
std        536.666415
min          1.000000
25%        185.000000
50%        305.000000
75%        450.000000
max      58064.000000
Name: word_count, dtype: float64

In [144]:
full_descr_excl[full_descr_excl.gender=='M'].word_count.describe()

count    253667.000000
mean        333.940812
std         359.798727
min           1.000000
25%         133.000000
50%         266.000000
75%         420.000000
max       23932.000000
Name: word_count, dtype: float64

In [122]:
full_map['last_name'] = full_map['Full Name'].str.split(',', expand=True)[0]

In [81]:
full_map.head()

,speakerid,Congress,Full Name,Chamber,State,Gender,Party,SpeachCount,List of Congresses,Ethnicity,BirthYear,CongressYear,Age,Age_lt_med,NonWhite,Female,Age_med,last_name
0,97105301,97,"PERCY, CHARLES",S,IL,M,R,2050,97 98,W,1919,1982,63,0,0,0,51.0,PERCY
1,97105071,97,"HUDDLESTON, WALTER",S,KY,M,D,563,97 98,W,1926,1982,56,0,0,0,51.0,HUDDLESTON
2,97106761,97,"JACKSON, HENRY",S,WA,M,D,560,97 98,W,1912,1982,70,0,0,0,51.0,JACKSON
3,97106981,97,"STAFFORD, ROBERT",S,VT,M,R,497,97 98 99 100,W,1913,1982,69,0,0,0,51.0,STAFFORD
4,97104811,97,"BAKER, HOWARD",S,TN,M,R,15456,97 98,W,1925,1982,57,0,0,0,51.0,BAKER

In [52]:
full_descr_excl.head()

,speech_id,date,char_count,word_count,speaker,state,gender,first_name,last_name,speakerid
0,970000001,19810105,1543,283,The VICE PRESIDENT,Unknown,Special,Unknown,Unknown,NaN
1,970000002,19810105,334,55,The VICE PRESIDENT,Unknown,Special,Unknown,Unknown,NaN
2,970000003,19810105,466,82,The VICE,Unknown,Special,Unknown,Unknown,NaN
3,970000004,19810105,210,37,The VICE PRESIDENT,Unknown,Special,Unknown,Unknown,NaN
4,970000009,19810105,48,7,The VICE PRESIDENT,Unknown,Special,Unknown,Unknown,NaN

In [183]:
full_descr_excl.shape

(1280376, 10)

In [123]:
full_descr_excl['Congress'] = full_descr_excl.apply(lambda row: str(row['speech_id'])[:2] if str(row['speech_id'])[0]=='9' else str(row['speech_id'])[:3], axis=1)
full_descr_excl['Congress'].value_counts()

101    84321
100    84114
104    81626
97     81344
110    81273
102    80620
99     79639
98     79089
103    76034
108    72177
109    70515
106    68290
105    68031
107    63859
111    59758
112    54840
113    50527
114    44319
Name: Congress, dtype: int64

In [211]:
full_descr_excl['Congress'].describe()

count     1280376
unique         18
top           101
freq        84321
Name: Congress, dtype: object

In [124]:
full_map['Congress'] = full_map['Congress'].astype(str)
full_map['Congress'].describe()

count     9845
unique      18
top        111
freq       556
Name: Congress, dtype: object

In [125]:
temp = full_descr_excl[(full_descr_excl.last_name != 'Unknown') & (full_descr_excl.gender.isin(['F','M']))]
temp.shape

(288860, 11)

In [126]:
gender_match = temp.merge(full_map, how='left', left_on=['last_name','gender','Congress'], right_on=['last_name','Gender','Congress'])
gender_match = gender_match[~gender_match['Ethnicity'].isna()]
gender_match.shape

(328657, 27)

In [127]:
gender_match.head()

,speech_id,date,char_count,word_count,speaker,state,gender,first_name,last_name,speakerid_x,...,SpeachCount,List of Congresses,Ethnicity,BirthYear,CongressYear,Age,Age_lt_med,NonWhite,Female,Age_med
1,970000418,19810105,1059,176,Mr. DAN DANIEL,Unknown,M,DAN,DANIEL,NaN,...,22.0,97,W,1936.0,1982.0,46.0,1.0,0.0,0.0,51.0
2,970000450,19810105,40,7,Mr. FINDLEY,Unknown,M,Unknown,FINDLEY,NaN,...,376.0,97,W,1921.0,1982.0,61.0,0.0,0.0,0.0,51.0
3,970000451,19810105,16,3,Mr. ANDERSON of California,California,M,Unknown,ANDERSON,NaN,...,273.0,97 98 99 100 101 102,W,1913.0,1982.0,69.0,0.0,0.0,0.0,51.0
4,970000452,19810105,18,3,Mr. BONER of Tennessee,Tennessee,M,Unknown,BONER,NaN,...,28.0,97 98 99 100,W,1945.0,1982.0,37.0,1.0,0.0,0.0,51.0
5,970000453,19810105,49,10,Mr. DYMALLY,Unknown,M,Unknown,DYMALLY,NaN,...,90.0,97 98 99 100 101 102,B/AAPIA,1926.0,1982.0,56.0,0.0,1.0,0.0,51.0

In [129]:
keep_cols = ['speech_id',
 'date',
 'char_count',
 'word_count',
 'speakerid_y',
 'Party',
 'Congress',
 'Chamber',
 'State',
 'Ethnicity',
 'Age',
 'Age_lt_med',
 'NonWhite',
 'Female',
 'speaker',
 'Full Name']

In [130]:
gender_match = gender_match[keep_cols]
gender_match.rename(index=str, columns={"speakerid_y": "speakerid"}, inplace=True)

In [131]:
gender_match.head()

,speech_id,date,char_count,word_count,speakerid,Party,Congress,Chamber,State,Ethnicity,Age,Age_lt_med,NonWhite,Female,speaker,Full Name
1,970000418,19810105,1059,176,97105830.0,R,97,H,VA,W,46.0,1.0,0.0,0.0,Mr. DAN DANIEL,"DANIEL, ROBERT"
2,970000450,19810105,40,7,97106010.0,R,97,H,IL,W,61.0,0.0,0.0,0.0,Mr. FINDLEY,"FINDLEY, PAUL"
3,970000451,19810105,16,3,97108680.0,D,97,H,CA,W,69.0,0.0,0.0,0.0,Mr. ANDERSON of California,"ANDERSON, GLENN"
4,970000452,19810105,18,3,97107630.0,D,97,H,TN,W,37.0,1.0,0.0,0.0,Mr. BONER of Tennessee,"BONER, WILLIAM"
5,970000453,19810105,49,10,97108970.0,D,97,H,CA,B/AAPIA,56.0,0.0,1.0,0.0,Mr. DYMALLY,"DYMALLY, MERVYN"

In [132]:
full_descr['match'] = 'exact'
gender_match['match'] = 'fuzzy'
full_descr = full_descr.append(gender_match, ignore_index=True)
full_descr.shape

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

(2914464, 17)

In [133]:
full_descr.head()

,speech_id,date,char_count,word_count,speakerid,Party,Congress,Chamber,State,Ethnicity,Age,Age_lt_med,NonWhite,Female,speaker,Full Name,match
0,970000005,19810105,201,34,97105301.0,R,97,S,IL,W,63.0,0.0,0.0,0.0,Mr. PERCY,"PERCY, CHARLES",exact
1,970000006,19810105,202,34,97105071.0,D,97,S,KY,W,56.0,0.0,0.0,0.0,Mr. HUDDLESTON,"HUDDLESTON, WALTER",exact
2,970000007,19810105,201,34,97106761.0,D,97,S,WA,W,70.0,0.0,0.0,0.0,Mr. JAcKSON,"JACKSON, HENRY",exact
3,970000008,19810105,201,34,97106981.0,R,97,S,VT,W,69.0,0.0,0.0,0.0,Mr. STAFFORD,"STAFFORD, ROBERT",exact
4,970000010,19810105,49,9,97104811.0,R,97,S,TN,W,57.0,0.0,0.0,0.0,Mr. BAKER,"BAKER, HOWARD",exact

In [134]:
full_descr.match.value_counts()

exact    2585807
fuzzy     328657
Name: match, dtype: int64

In [229]:
# gender_match.to_csv('./full_descr_fuzzy.txt', sep='|', index=False)

In [135]:
full_descr.to_csv('./full_descr.txt', sep='|', index=False)